.registerPage {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.registerPage>img {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: -50;
}

.registerPage::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -40;
    background-color: var(--lightBlackTransparent);
}

.registerContainer {
    display: flex;
    flex-direction: column;
    gap: .25em;
    background-color: var(--lightWhiteTransparent);
    padding: 2em;
    backdrop-filter: blur(5px);
    border-radius: var(--smallBR);
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form>img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    -webkit-box-shadow: var(--standartDarkShadow);
    box-shadow: var(--standartDarkShadow);
}

.registerInput {
    font-size: .85rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .25em;
    padding-top: .5em;
    color: var(--white);
}

.imageLabel {
    font-size: .9rem;
    display: flex;
    align-items: center;
    gap: .5em;
    cursor: pointer;
    padding: .25em .5em;
    transition: var(--transition);
}

.imageLabel:hover {
    color: var(--lightBlue);
}

.registerInput>input {
    height: 40px;
    outline: none;
    padding-inline: 1em;
    border: 1px solid var(--lightBlue);
    border-radius: var(--smallBR);
}

.registerInput>input:hover,
.registerInput>input:focus {
    border: 1px solid var(--middleBlue);
}

.submitBtn {
    margin-top: .5em;
    height: 40px;
    font-size: .9rem;
    background-color: var(--lightBlue);
    color: var(--white);
    border: none;
    border-radius: var(--smallBR);
    font-weight: 500;
    padding-inline: 1.1em;
    cursor: pointer;
    transition: var(--transition);
}

.submitBtn:hover {
    background-color: var(--middleBlue);
    -webkit-box-shadow: var(--thinShadow);
    box-shadow: var(--thinShadow);
}