.sidebar {
    flex: 1;
    min-height: 100vh;
    max-width: 200px;
    background-color: var(--white);

    .top {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid var(--superLightGray);

        .logo {
            font-size: 1.2rem;
            font-weight: bold;
            color: var(--lightBlue);
        }
    }

    .center {

        ul {
            list-style: none;
            font-size: .6rem;

            .title {
                font-weight: bold;
                padding-top: 1.75em;
                margin-bottom: .85em;
                color: var(--lightGray);
                padding-left: 1em;
            }

            li {
                display: flex;
                align-items: center;
                padding: .6em .6em .6em 1em;
                cursor: pointer;

                &:hover {
                    background-color: var(--superLightBlue);
                }

                .icon {
                    font-size: 1rem;
                    color: var(--lightBlue);
                }

                .unavailable {
                    color: var(--superLightGray);
                }

                span {
                    font-size: .7rem;
                    font-weight: 600;
                    color: var(--middleGray);
                    margin-left: .8em;
                }
            }

            .unavailable {
                cursor: no-drop;
            }
        }
    }

    .bottom {
        border-top: 1px solid var(--superLightGray);
        font-size: .6rem;

        .title {
            font-weight: bold;
            margin-top: 1.75em;
            margin-bottom: .85em;
            color: var(--lightGray);
            padding-left: 1em;
        }

        .colorContainer {
            display: flex;
            align-items: center;
            margin: 1em;

            .colorOption {
                width: 25px;
                height: 25px;
                border-radius: var(--smallBR);
                border: 1px solid var(--middleBlue);
                cursor: pointer;
                margin-right: 5px;

                &:first-child {
                    background-color: var(--white);
                }

                &:last-child {
                    background-color: var(--hardGray);
                }
            }
        }
    }
}