@mixin flexCenterObject {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin standartShadowMixin {
    -webkit-box-shadow: $webKitShadow;
    box-shadow: $standartShadow;
}

@mixin darkShadowMixin {
    -webkit-box-shadow: $webKitShadow;
    box-shadow: $standartDarkShadow;
}

@mixin infoTitle {
    font-size: 1.25rem;
    color: $lightGray;
    margin-bottom: .5em;
}

@mixin infoDetails {
    .itemTitle {
        font-size: 1.75rem;
        margin-bottom: .5em;
        color: $middleGray;
    }

    .delailItem {
        font-size: .8em;
        margin-bottom: .5em;

        .itemKey {
            font-weight: bold;
            margin-right: .5em;
        }

        .itemValue {
            font-weight: 300;
        }

        .roomNumberSpacing {
            padding-right: 5px;
        }
    }
}

//Media querys

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (max-width: 900px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (max-width: 1200px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (max-width: 1800px) {
        @content;
    }
}

@mixin for-huge-desktop-up {
    @media (min-width: 2250px) {
        @content;
    }
}