@import "src/scss/abstracts/_variables";
@import "src/scss/abstracts/_mixins";

.loginPage {
    height: 100vh;
    @include flexCenterObject;
    flex-direction: column;

    img {
        width: 100vw;
        height: 100vh;
        position: absolute;
        z-index: -50;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: -40;
        background-color: $lightBlackTransparent;
    }

    span {
        position: absolute;
        transform: translateY(120px);
        color: $white;
    }

    .loginContainer {

        display: flex;
        flex-direction: column;
        gap: .5em;
        background-color: $lightWhiteTransparent;
        padding: 2em;
        backdrop-filter: blur(5px);
        border-radius: $smallBR;

        input {
            height: 40px;
            outline: none;
            padding-inline: 1em;
            border: 1px solid $lightBlue;
            border-radius: $smallBR;

            &:hover,
            &:focus {
                border: 1px solid $middleBlue;
            }
        }

        .btns {
            display: flex;
            gap: .5em;

            .submitBtn {
                height: 40px;
                width: 100%;
                font-size: .9rem;
                background-color: $lightBlue;
                color: $white;
                border: none;
                border-radius: $smallBR;
                font-weight: 500;
                padding-inline: 1.1em;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    background-color: $middleBlue;
                    @include thinShadowMixin;
                }
            }
        }
    }
}