@import "src/scss/abstracts/_variables";
@import "src/scss/abstracts/_mixins";

.homePage {
    display: flex;

    .homeContainer {
        flex: 6;

        .welcome {
            border-left: 1px solid $superLightGray;
            height: calc(100% - 50px);
            margin: 0 auto;
            @include flexCenterObject;
            flex-direction: column;
            background: linear-gradient(150deg, $white, $white, $lightGray);

            .welcomeTitle {
                margin-bottom: .5em;
            }

            .welcomeInfo {
                line-height: 2em;
            }
        }
    }
}