.app.dark {
    background-color: var(--superHardGray);
    color: var(--lightGray);

    .welcome {
        background: linear-gradient(150deg, var(--superHardGray), var(--superHardGray), var(--hardGray));
        border-color: var(--hardGray);
    }

    .navbar {
        color: var(--lightGray);
        border-color: var(--hardGray);
    }

    .sidebar {
        background-color: var(--superHardGray);

        .top,
        .bottom {
            border-color: var(--hardGray);
        }

        .center {
            .unavailable {
                color: var(--hardGray);
            }
        }

        ul {
            li {
                &:hover {
                    background-color: var(--hardGray);
                }

                .icon {
                    color: var(--lightGray);
                }
            }
        }
    }

    .css-rtrcn9-MuiTablePagination-root,
    .css-12wnr2w-MuiButtonBase-root-MuiCheckbox-root,
    .css-1pe4mpk-MuiButtonBase-root-MuiIconButton-root {
        color: var(--lightGray);
    }

    .css-zylse7-MuiButtonBase-root-MuiIconButton-root.Mui-disabled {
        color: var(--middleGray);
    }

    .css-f3jnds-MuiDataGrid-columnHeaders,
    .css-r11z79-MuiDataGrid-root .MuiDataGrid-cell,
    .css-17jjc08-MuiDataGrid-footerContainer {
        border-color: var(--middleGray);
    }

    .datatable {


        border-color: var(--hardGray);

        .dataGrid {
            color: var(--lightGray);
            border-color: var(--hardGray);

            .viewBtn,
            .deleteBtn {
                color: var(--lightGray);
                border-color: var(--lightGray);
            }
        }
    }

    .newPageWrapper {
        border-color: var(--hardGray);

        .top,
        .bottom {
            .addNew {
                color: var(--lightGray);
            }

            .right {
                form {
                    .formInput {
                        input {
                            color: var(--superLightGray);
                            border-color: var(--lightGray);
                        }
                    }
                }
            }
        }

        .sendBtn {
            background-color: var(--middleBlue);
            color: var(--superLightGray);

            &:hover {
                background-color: var(--lightBlue);
                color: var(--black);
            }
        }
    }

    // .chartGrid {
    //     stroke: rgba(228, 228, 228, 0.219);
    // }

    // .table {
    //     background-color: #111;

    //     .tableCell {
    //         color: gray;
    //     }
    // }



    input {
        background-color: transparent;
    }
}