@import "src/scss/abstracts/_variables";

.navbar {
    height: 50px;
    border-bottom: 1px solid $superLightGray;
    display: flex;
    align-items: center;
    font-size: .8rem;
    color: $middleGray;

    .navbarContainer {
        width: 100%;
        padding: 1.4em;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .item {
            display: flex;
            align-items: center;
            margin-right: 1.4em;

            span {
                display: flex;
                align-items: center;
            }

            .icon {
                font-size: 1.15rem;

            }

            &:first-child {
                display: flex;
                gap: .25em;
                cursor: default;
            }

            &:nth-child(2) {
                cursor: pointer;
            }

            .profilePhoto {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                border: 1px solid $white;
            }
        }
    }
}