@mixin flexCenterObject {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin thinShadowMixin {
    -webkit-box-shadow: $thinShadow;
    box-shadow: $thinShadow;
}

@mixin bottomShadowMixin {
    -webkit-box-shadow: $bottomShadow;
    box-shadow: $bottomShadow;
}

@mixin standartShadowMixin {
    -webkit-box-shadow: $webKitShadow;
    box-shadow: $standartShadow;
}

@mixin standartBlackShadowMixin {
    -webkit-box-shadow: $webKitShadow;
    box-shadow: $standartBlackShadow;
}

@mixin standartBlueShadowMixin {
    -webkit-box-shadow: $webKitShadowBlue;
    box-shadow: $standartBlueShadow;
}

@mixin darkShadowMixin {
    -webkit-box-shadow: $webKitShadow;
    box-shadow: $wideDarkShadow;
}

//Media querys

@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (max-width: 920px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1030px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (max-width: 1800px) {
        @content;
    }
}

@mixin for-huge-desktop-up {
    @media (min-width: 2250px) {
        @content;
    }
}