.chooseRoom {
    width: 100vw;
    height: 100vh;
    background-color: var(--blackTransparent);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chooseRoomContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.75em;
    background-color: white;
    border-radius: var(--smallBR);
    -webkit-box-shadow: var(--standartShadow);
    box-shadow: var(--standartShadow);
    min-width: 500px;
}

.closeCR {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.75rem;
    transform: translate(-.25em, .25em);
    cursor: pointer;
    border-radius: var(--smallBR);
    transition: var(--transition);
}

.closeCR:hover {
    -webkit-box-shadow: var(--thinShadow);
    box-shadow: var(--thinShadow);
}

.selectRooms {
    padding-bottom: 1em;
    font-size: 1.1rem;
}

.cRItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 1em;
}

.cRItemInfo {
    display: flex;
    flex-direction: column;
    flex: 4;
}

.checkBoxRooms {
    display: flex;
    flex-wrap: wrap;
    font-size: .65rem;
    flex: 1;
    gap: .25em;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.room>input {
    transform: scale(1.4);
    margin: .25rem;
    cursor: pointer;
}

.reserveBtn {
    height: 40px;
    font-size: .9rem;
    background-color: var(--lightBlue);
    color: var(--white);
    border: none;
    border-radius: var(--smallBR);
    font-weight: 500;
    padding-inline: 1.1em;
    cursor: pointer;
    transition: var(--transition);
}

.reserveBtn:hover {
    background-color: var(--middleBlue);
    -webkit-box-shadow: var(--thinShadow);
    box-shadow: var(--thinShadow);
}

.cRTitle {
    font-weight: 500;
}

.cRDescription {
    font-size: .9rem;
}

.cRMaxPeople {
    font-size: .8rem;
}

.cRPrice {
    font-weight: 700;
}