.headerList {
    display: flex;
    gap: 2.25em;
}

.headerListItem {
    display: flex;
    align-items: center;
    gap: .6em;
}

.headerListItem.active {
    border: 2px solid var(--middleBlue);
    padding: .6em;
    border-radius: var(--bigBR);
}