:root {
  /* Colors */
  --white: rgb(255, 255, 255);
  --lightBlue: rgb(61, 145, 255);
  --superLightBlue: rgb(232, 242, 255);
  --middleBlue: hsl(214, 100%, 32%);
  --hardGray: rgb(51, 51, 51);
  --middleGray: hsl(0, 0%, 33%);
  --lightGray: hsl(0, 0%, 60%);
  --superLightGray: rgb(217, 217, 217);
  --blackTransparent: rgba(0, 0, 0, 0.4);
  --lightBlackTransparent: rgba(0, 0, 0, 0.2);
  --lightWhiteTransparent: rgba(255, 255, 255, 0.1);

  /* Box-shadow */
  --standartShadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.4);
  --bottomShadow: 0px 6px 8px -2px rgba(0, 0, 0, 0.2);
  --thinShadow: 0px 0px 8px -1px rgba(0, 0, 0, 0.3);

  /* Border-radius */
  --smallBR: .4em;
  --bigBR: 1em;

  /* Transitions */
  --transition: .2s ease-in-out;

}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}