@import "src/scss/abstracts/_variables";
@import "src/scss/abstracts/_mixins";

.hotelContainer {
    margin-top: 1.1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.75em;

    .hotelWrapper {
        width: 100%;
        max-width: 1024px;
        display: flex;
        flex-direction: column;
        position: relative;
        border-radius: $smallBR;
        padding: 1em;
        @include standartShadowMixin;

        .hotelTitle {
            font-size: 1.5rem;
            padding-bottom: .5rem;
            color: $hardGray;
        }

        .hotelAddress {
            display: flex;
            align-items: center;
            font-size: .75em;
            gap: .25em;
        }

        .hotelDistance {
            font-size: .95rem;
            margin: .5em 0 .25em 0;
            color: $lightBlue;
            font-weight: 500;
        }

        .hotelPriceBonus {
            font-size: .95rem;
            margin-bottom: .5em;
            color: $green;
            font-weight: 500;
        }

        .hotelImages {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: .25em;

            .hotelImg {
                width: 100%;
                object-fit: cover;
                overflow: hidden;
                border-radius: $smallBR;
                cursor: pointer;
            }
        }
    }

    .slider {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: $blackTransparent;
        @include flexCenterObject;
        z-index: 10;

        .arrowL {
            color: $superLightBlue;
            background-color: $blackTransparent;
            height: 70vh;
            font-size: 6rem;
            border-radius: .1em 0 0 .1em;
            @include darkShadowMixin;
            cursor: pointer;
        }

        .sliderWrapper {
            position: relative;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .sliderImg {
                height: 70vh;
                @include darkShadowMixin;
            }
        }

        .arrowR {
            color: $superLightBlue;
            background-color: $blackTransparent;
            height: 70vh;
            font-size: 6rem;
            border-radius: 0 .1em .1em 0;
            @include darkShadowMixin;
            cursor: pointer;
        }

        .close {
            position: absolute;
            top: 1.5em;
            right: 2em;
            background-color: $blackTransparent;
            color: $superLightBlue;
            height: 50px;
            width: 50px;
            border-radius: $smallBR;
            @include darkShadowMixin;
            cursor: pointer;
        }

        .container-dots {
            background-color: $blackTransparent;
            padding: .25em;
            border-radius: $smallBR;
            position: absolute;
            left: 50%;
            top: calc(85vh - 25px);
            transform: translateX(-50%);
            display: flex;

            .dot {
                width: .6em;
                height: .6em;
                border-radius: 50%;
                border: 1px solid $white;
                margin: 0 3px;
                background: $white;
                cursor: pointer;
            }

            .active {
                background: $black;
            }
        }
    }
}