*, *::after, *::before {
    text-decoration: none;
}

.navbar {
    height: 60px;
    background-color: var(--lightBlue);
    display: flex;
    justify-content: center;
    z-index: 10;
    border-bottom: 3px solid var(--superLightGray);
}

.navContainer {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: var(--white);
    font-weight: 600;
    font-size: 1.3rem;
    height: 40px;
    padding: .1em 1.1em;
    border-radius: var(--smallBR);
    transition: var(--transition);
}

.navItems {
    display: flex;
}

.navUserItems {
    display: flex;
    align-items: center;
    gap: .75em;
    padding: .25em .75em;
    border-radius: var(--smallBR);
    -webkit-box-shadow: var(--thinShadow);
    box-shadow: var(--thinShadow);
}

.userName {
    font-size: .85rem;
    color: var(--white);
    font-weight: 400;
}

.userImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid var(--white);
}

.navBtn {
    height: 40px;
    font-size: .9rem;
    margin-left: 1.2em;
    background-color: var(--lightBlue);
    color: var(--white);
    border: none;
    border-radius: var(--smallBR);
    font-weight: 500;
    padding-inline: 1.1em;
    cursor: pointer;
    transition: var(--transition);
}

.navBtn:hover, .logo:hover {
    -webkit-box-shadow: var(--thinShadow);
    box-shadow: var(--thinShadow);
}